.grid-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-bottom: 1em;
}

.box {
    aspect-ratio: 1;
    padding: 2em;
    background-color: blanchedalmond;
    color: blueviolet;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/**masthead*/
masthead {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    color:aqua;
    margin-bottom: 1em;
}

masthead h1 {
    margin-right: auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

masthead img {
    display: inline-block;
    align-self:center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;

}

masthead ul {
    padding-inline-start: 0;
}

masthead li {
    list-style: none;
    display: inline-block;
    padding: 0 20px
}

masthead a {
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s ease 0s;
}

masthead a:hover {
    color: cadetblue;
}

/*not masthead?*/
#content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    margin-bottom: 1em;
    background-color: black;
    color: thistle;
    padding: 2em;
}

#content h2, #content a {
    color: blanchedalmond;
}

.sidebar-post {
    margin-bottom: 1em;
    .post-stuff {
        display: flex;
        align-items: flex-start;
    }
    p {
        margin-top: 0;
    }
    img {
        width:33%;
        height: auto;
        display: block;
        margin-right: 1em;
    }
}

.big-post {
    border: 1px solid black;
    margin-bottom: 1em;
    .img-container {
        aspect-ratio: 4/3;
    }
    img {
        width:100%;
        height: auto;
        display: block;
    }
}

.sidebar-post:last-child, .big-post:last-child {
    margin-bottom: 0;
}

/**media queries**/
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .grid-boxes{
        grid-template-columns: 1fr;
    }

    masthead {
        text-align: center;
        flex-flow: column nowrap;
    }

    masthead ul {
        margin-bottom: 0;
    }

    masthead h1 {
        margin-right: 0;
    }
    
    masthead img {
        margin-right: 0;
    }

    #content {
        padding: 1em;
        gap: 1em;
        grid-template-columns: 1fr;
    }
    .main {
        order: 1;
    }
    .sidebar {
        order:2;
    }
}