:root {
    --background-color: rgb(255, 255, 255);
    --light-color: rgb(0, 255, 51);
    --dark-color: rgb(0, 0, 0);
    --link-color: rgb(73, 89, 232);
}

body {
    font-optical-sizing: auto;
    font-family: "warbler-banner", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aqua;
    background-color: blanchedalmond;

}

a {
    font-family: "warbler-banner", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: rgb(93, 0, 0);
    font-family: "cofo-raffine", sans-serif;
    font-weight: 900;
    font-style: normal;

}

h2 {
    color: rgb(93, 0, 0);
    font-family: "cofo-raffine", sans-serif;
    font-weight: 900;
    font-style: normal;

}

p {
    color: rgb(49, 19, 157);
    font-family: "warbler-banner", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

.post {
    border: 1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    a {
        color: var(--link-color);
        background-color: var(--background-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        background-color: aquamarine;
    }
}

.highlight {
    background-color: greenyellow;
    color: red;

    h2 {
        color: hotpink;
    }

    p {
        color: aqua;
    }
}

.thickborder {
    border: 21px solid salmon;
    border-radius: 100%;
    border-style: groove;

}

#post {
    border: 1px solid var(--light-color);
    background-color: black;
    margin-bottom: 5em;
    padding: .5em 1em;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    a {
        color: var(--light-color);
        background-color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.special-headline {
    font-weight: 1200;
    color: rgb(255, 102, 0);
}

#unique-headline {
    font-weight: 600;
    color: blue;
}

footer {
    text-align: center;
    justify-content: space-between;
}

/*lab2 content*/
.hideme {
    display: none;
}

.post span {
    color: coral;
}

/*would only work if i removed block-div*/
.block {
    display: block;
    border-radius: 1em;
    color: aquamarine;
    background-color: rgb(250, 173, 78);
    border: 1em;
    padding: 10%;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
    text-transform: uppercase;
    padding: 5%;
    color: blueviolet;
    background-color: aqua;
    transform: rotate(67deg);
    font-weight: 900;
}

.inlineTreatedAsBlock {
    margin: 1em 0;
}

.static {
    position: static;
    background-color: brown;
}

.fixed {
    z-index: 999;
    position: fixed;
    top: 1em;
    left: 1em;
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid var(--dark-color);
}

.relative {
    position: relative;
    left: 1em;
    width: calc(100%-1em);
    border: 2px solid var(--light-color);
    background-color: bisque;
}

.absolutedemoholder {
    position: relative;
    border: 5px dotted var(--dark-color);
    width: 100%;
    margin-bottom: 1em;
    aspect-ratio: 4/3;
}

.absolutebubble {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: coral;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

.stickydemoholder {
    overflow: scroll;
    position: relative;
    border: 1px solid pink;
    width: 100%;
    margin-bottom: 12em;
    height: 300px;

    p {
        margin: 2em;
    }
}

.stickbit {
    position: sticky;
    background-color: aquamarine;
    top: 0;
    padding: 2em;
}

.floatdemoholder {
    border: 1px var(--dark-color);
    padding: 1em;
    margin-bottom: 3em;

    .img-right {
        width: 15em;
        height: 15em;
        float: right;
        margin: 1em 0 1em 1em;

    }

    .img-left {
        width: 15em;
        height: 15em;
        float: left;
        margin: 1em 1em 1em 0;

    }
}

.columndemoholder {
    border: 1px solid var(--dark-color);
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;

    .column {
        width: calc(100%/3 - 2rem);
        aspect-ratio: 1;
        float: left;
        padding: 1rem;
        font-size: 2em;
        font-weight: 100;
        font-style: italic;
        background-color: blanchedalmond;

        &:nth-child(even){
            background-color: palevioletred;
        }
    }
}

/*lab 3 grid */

.grid-parent {
    display: grid;
    /*grid template cols 25% 75%*/
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin-bottom: 1em;
}

.grid-child {
    padding: 2em;
    min-height: 30vh;
    background-color: rgb(31, 99, 76);
    color: antiquewhite;
}

.grid-explicit-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    gap: 1em;
    margin-bottom: 1em;
}

.grid-chess-lay {
    width:800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 1em;

}

.grid-chess-kid {
    aspect-ratio: 1;
    background-color: blueviolet;
    transition: 0.5s;
}

.grid-chess-kid:nth-child(-n + 8):nth-child(even),
.grid-chess-kid:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
.grid-chess-kid:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.grid-chess-kid:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.grid-chess-kid:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.grid-chess-kid:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.grid-chess-kid:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.grid-chess-kid:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
    background-color: rgb(255, 0, 247)
}

.grid-chess-kid:hover {
    background-color: antiquewhite !important;
}

/*note to self: go over lab github after class to ensure
 all of lab 3 is included*/
 /*Note to self: doing that now^^*/

.grid-assign-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.grid-assign-child {
    min-height: 1em;
    background-color: navajowhite;
}

.grid-assign-special-child {
    grid-row: 2 / 4; 
    grid-column: 2 / 4; 
    background-color: rgb(42, 137, 132);
}

.grid-area-parent {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 1em;
    margin-bottom: 1em;
    grid-template-areas: 
        'header header'
        'sidebar main'
        'footer footer';
}

.grid-area-child {
    min-height: 2em;
    background-color: rebeccapurple;
    padding: 1em;
    color: wheat;
    justify-content: center;
    text-align: center;
}

.area-header {
  grid-area: header;
}

.area-sidebar {
  grid-area: sidebar;
}

.area-main {
  grid-area: main;
}

.area-footer {
  grid-area: footer;
}

.grid-alignment-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center; 
  justify-items: center; 
  align-content: center; 
  align-items: center; 
  gap: 1em;
  margin-bottom: 1em;
  background-color: navy;
  min-height: 15em;
}

.grid-alignment-child {
  width: 100px;
  min-height: 1em;
  background-color: goldenrod;
}

.quick-center-trick {
  height: 60vh;
  background-color: burlywood;
  display: grid;
  place-content: center; 
}

/*lab 4*/
.flex-container-justify {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.flex-item {
    width: 100px;
    background-color: magenta;
    margin: 1em;
    padding: 1em;
}

.flex-container-align {
    display: flex;
    flex-wrap: nowrap;
    height: 60vh;
    align-items: flex-end;
    justify-content: center;

    flex-direction: row-reverse;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex-card {
    width: calc(100%/3);
    display: flex;
}

.flex-card-inner {
    flex-grow: 1;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    text-align: center;
    h4 {
        background-color: black;
        display: inline-block;
        color: aqua;
        padding: .25em;
    }    
    img {
        border-radius: 50%;
    }
}

.flex-card-inner > div:nth-child(2) {
    flex-grow: 1;
}