

:root {
        --background-color: rgb(254, 176, 176);
        --light-color: rgb(0, 255, 51);
        --dark-color: rgb(0, 0, 0);
        --link-color: rgb(1, 155, 155);
    }

body {
    font-optical-sizing: auto;
    

}

    h3 {
        color: rgb(93, 0, 0);
        font-family: "cofo-raffine", sans-serif;
        font-weight: 900;
        font-style: normal;

    }

    h2 {
        color: rgb(93, 0, 0);
        font-family: "cofo-raffine", sans-serif;
        font-weight: 900;
        font-style: normal;

    }

    p {
        color: rgb(49, 19, 157);
        font-family: "warbler-banner", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    main {
        position: relative;
        max-width: 1080px;
        margin: 0 auto;
    }

    #head {
        display: flex;
        justify-content: space-between;
    }

    #head h3 a{
        color: var(--dark-color);
        text-decoration: none;
    }

    .post {
        border: 1px solid var(--dark-color);
        margin-bottom: 1em;
        padding: .5em 1em;
    }